# Gradle
.gradle/
build/
*/build/

# Android Studio
.idea/
*.iml

# User-specific files
local.properties
*.swp
*.swo

# Android
*.apk
*.ap_
*.dex
*.class
*.log
*.keystore

# Gradle Wrapper
gradle-wrapper.jar

# NDK
.cxx/
ndkBuild/

# Miscellaneous
.DS_Store
